
#secondary-award-to {
  transform: translate(20px, -250px) rotate(40deg) scale3d(0, 0, 0);
  transform-origin: 50% 100% 0;
  animation-name: a-award-to-rotate, a-crooked-motion;
  animation-duration: 0.1s, 1.35s;
  animation-delay: 5s, 5.2s;
  animation-timing-function: ease-out, linear;
  animation-fill-mode: forwards;
}
