@keyframes a-grow {
  to {
    width: 100%;
  }
}

@keyframes a-appearance {
  to {
    opacity: 1;
  }
}

@keyframes a-suitecase-grow {
  from {
    transform: translate(-50%, 50%) scale(0.1);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
